.git
.github
.fleet
.idea
.nova
.vscode
.zed

node_modules
vendor

public/build
public/storage
bootstrap/ssr
bootstrap/cache/*.php

storage/*.key
storage/pail

database/database.sqlite

.env
.env.*
!.env.example

Dockerfile
compose.yml
.dockerignore
